@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v14-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v14-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v14-latin-500.woff2") format("woff2"), url("../fonts/rubik-v14-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik-v14-latin-900.woff2") format("woff2"), url("../fonts/rubik-v14-latin-900.woff") format("woff"); 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body{
  background-color: #fff;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-top {
  border-top: 4px solid #295093;
  background-color: #F6F6F9;
}

.header {
  margin-top: 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
} 

.header-left-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #295091;
  text-transform: uppercase;
  display: block;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.header-left-list {
  display: flex;
  align-items: center;
  margin-left: 17px;
}

.header-left-item {
  margin-right: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #7A7A7A;
}

.header-left-item span {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
  margin-left: 5px;
}

.header-right-link{
  display: flex;
  align-items: center;
  width: 146px;
  height: 40px;
  background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  border-radius: 5px;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.menu {
  margin-top: 40px;
  width: 1200px;
  height: 68px;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  padding-top: 22px;
}

.menu-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
  transition: all 0.5s ease;
}

.menu-link:hover{
  color: #d67900;
}

.active {
  border-bottom: 3px solid rgb(112, 112, 112);
}

.banner {
  margin-top: 18px;
  margin-bottom: 25px;
}

.form-header {
  margin-top: 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.form-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 12px;
}

.form-left {
  width: 600px;
}

.input {
  padding: 15px;
  background: #F1F1F1;
  opacity: 0.3;
  border: 2px solid #285193;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-full {
  width: 100%;
}

.input-small {
  width: 221px;
}

.textarea {
  width: 100%;
  height: 307px;
  resize: none;
}

.form-left form span {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 29px;
  color: #000000;
  margin-left: 10px;
}

.input-btn {
  width: 221px;
  height: 50px;
  background: #295093;
  border: 2px solid rgba(40, 81, 147, 0.54);
  box-sizing: border-box;
  border-radius: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.form-right {
  width: 510px;
  height: 280px;
  background: #FFFFFF;
  border: 2px solid #BCC3CD;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 25px;
  box-shadow: -10px 10px 0 0 rgba(41, 80, 145, 0.16);;
  box-shadow: -10px 18px 9px 0 rgba(57, 57, 57, 0.25);
}

.form-right-header {
  text-transform: uppercase;
  text-align: right;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #295091;
}

.form-right-list {
  margin-top: 21px;
}

.form-right-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.form-right-item span, .form-right-item .mail-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #888888;
}

.form-right-item .btn {
  background: #295091;
  border-radius: 5px;
  padding: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.form-right-item .btn span {
  color: #fff;
  margin-left: 8px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 122px;
}

.social-icon {
  width: 32px;
  height: 32px;
}

.form-right-item .mobile-apps {
  margin-right: 10px;
}

/* =========footer============ */

.footer {
  margin-top: 38px;
  background-color: #295093;;
  padding-bottom: 15px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #133C82;
}

.footer-logo-link {
  margin-top: 18px;
  margin-bottom: 20px;
  display: block;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 12px;
  background: #133C82;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer-top-right {
  display: flex;
  align-items: center;
}

.footer-top-right > span{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-right: 17px;
}

.footer-telegram-link{
  display: block;
  padding: 9px;
  background: #FFFFFF;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #295093;
  display: flex;
  align-items: center;
}

.footer-telegram-link img {
  margin-right: 6px;
}

.footer-bootom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 12px;
  padding-right: 225px;
}

.footer-bootom-left p {
  width: 350px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer-bootom-left p:first-child {
  margin-bottom: 15px;
}

.footer-item{
  margin-bottom: 12px;
}

.footer-item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}